.cabecera{
    background-color:	#689ACA; 
    text-align:center; 
    color:	#FFFFFF; 
    font-size: 25px
    

}

.primeraFila{
    color:	#FFFFFF;
    text-align:center; 
    background-color:	#999999; 
    vertical-align:middle;
}